@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}
